@import url("universal.css");

ul { 
    list-style: none;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--dark-cyan-background);
    margin: 0px;
    color: var(--almost-white);
    max-width:100vw;
}

a {
    color: var(--almost-white);
    text-decoration: none;
}

h1 {
    margin-top: 0em;
    margin-bottom: 0.17em;
    font-size:40px;
}

h2, h3, h4 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-top: 0px;
    margin-bottom: 1vh;
}

hr {
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}

.secondary-axis-center {
    align-items: center;
}

.primary-axis-center {
    justify-content: center;
}

.far-spaced {
    justify-content: space-around;
    gap: 70vw;
}

.anchor {
    scroll-margin-top: 29vh;
}

.sticky {
    position: sticky;
}

.center {
    z-index: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    position: relative;
}

.top {
    z-index: 1;
    top: 0;
    max-height: 50px;
    width: 100%;
    background-color: var(--cyan-background);
}

.left {
    top: 14vh;
    width: 50%;
    max-height: 55vh;
    background-color: var(--dark-cyan-background);
    padding-top: 14vh;
    margin-left: 60px;
}

.right {
    top: 14vh;
    width: 50%;
    background-color: var(--dark-cyan-background);
    padding-top: 22vh;
}

.left-nav-element {
    font-size: 18px;
}

.tagline {
    margin-top: 0px;
    margin-bottom: 0.33em;
    font-size: 24px;
}
.blurb {
    margin-top: 0px;
    font-size: 20px;
    max-width: 400px;
}

.section-header {
    font-size: 22px;
}

.experience-block {
    margin-left: 1vw;
}

.experience-dates {
    margin-top: 1vh;
    min-width: 140px;
    max-width: 140px;
}

.cards {
    margin-left: 10%;
    margin-right: 10%;
    gap: 10%;
    flex-wrap: wrap;
}
.project-section {
    width:35%;
}

.blog-section {
    width:35%;
}

.footer {
    max-height: 7vh;
    margin-top: 8vh;
    margin-bottom: 1vh;
    text-align: center;
}

/* Tags Section from Codepen - Wouter Beeftink */
  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }

  .block {
    width: 160px;
  }
  
  .tag {
    background: var(--bright-orange-highlight);
    border-radius: 3px 0 0 3px;
    color: var(--almost-black);
    display: inline-block;
    height: 25px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    font-weight: 400;
  }
  
  .tag::before {
    background: var(--dark-cyan-background);
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: var(--dark-cyan-background);
    border-bottom: 13px solid transparent;
    border-left: 10px solid var(--bright-orange-highlight);
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: var(--dark-orange-highlight);
  }
  
  .tag:hover::after {
     border-left-color: var(--dark-orange-highlight); 
  }

/* End Tags Section */

#center {
    gap: 128px;
}

#ribbon-right, #ribbon-left {
    gap: 24px;
    margin: 8px;
    align-self: center;
    font-size: 18px;
}

#navigation {
    margin-top: 30px;
}

#navigation > ul {
    gap: 24px;
    font-size: 16px;
}