@import url("universal.css");

ul { 
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-horizontal {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
}