/* palette-name: 'Cyange'*/

root { 
    /* Greyscale hues */
    --black: #000000;
    --almost-black: #111111;
    --tinted-black: #222222;
    --light-black: #333333;
    --pale-black: #444444;
    --dark-grey: #555555;
    --shaded-grey: #666666;
    --medium-grey: #777777;
    --tinted-grey: #888888;
    --light-grey: #999999;
    --pale-grey: #aaaaaa;
    --silver: #bbbbbb;
    --dark-white: #cccccc;
    --shaded-white: #dddddd;
    --almot-white: #eeeeee;
    --white: #ffffff;

    /* Cyan hues */
    --dark-cyan-background: #021112;
    --cyan-background: #022124;
    --light-cyan-background: #023136;
    --dark-cyan-base: #02464d;
    --shaded-cyan-base: #025c64;
    --cyan-base: #026d77;
    --light-cyan-base: #027e8a;
    --dark-cyan-highlight: #02ddef;
    --medium-cyan-highlight: #02e6fb;
    --bright-cyan-highlight: #02eeff;

    /* Orange hues */
    --dark-orange-highlight: #e36b00;
    --medium-orange-highlight: #ee7200;
    --bright-orange-highlight: #ff7800;
}

/* End Palette */

/* Fonts */
.dm-sans-logo {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  .source-code-pro-code {
      font-family: "Source Code Pro", monospace;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }
  
  .inter-thin {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
  }
  .inter-extra-light {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 200;
      font-style: normal;
  }
  .inter-light {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
  }
  .inter-normal {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
  }
  .inter-medium {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;
  }
  .inter-semibold {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 600;
      font-style: normal;
  }
  .inter-bold {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
  }
  .inter-extra-bold {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 800;
      font-style: normal;
  }
  .inter-black {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
  }
  
  /* End Fonts */